@import '~bulma/bulma.sass';
@import '~slick-carousel/slick/slick.css';
@import '~slick-carousel/slick/slick-theme.css';

// Importing variables
@import './variables.scss';

@import './button.scss';
@import './product.scss';
@import './checkout.scss';

@font-face {
  font-family: 'GT Eesti Pro';
  src: url(/assets/GTEestiProText-Regular.otf);
}

html,
body {
  font-family: 'GT Eesti Pro';
  color: #000;
}

.full-container {
  width: calc(100% - 56px);
  margin: 72px 28px;
}

.hero {
  min-height: calc(74vh - 3.25rem);
}

.lower {
  padding-top: 20rem;
}

.hero-bg {
  display: flex;
  background-image: url(../images/h1b_hero.png);
  background-repeat: no-repeat;
  background-position: 70% 25%;

  @media screen and (min-width: $widescreen) {
    background-position: 60% 30%;
    background-size: 100% auto;
  }

  @media screen and (max-width: $desktop) {
    background-position: 70% 20%;
    background-size: 100% auto;
  }

  @media screen and (max-width: $tablet) {
    background-position: 60% 0%;
    background-size: 100% auto;
  }

  @media screen and (max-width: $mobile) {
    background-position: 60% 0%;
    background-size: $mobile auto;
  }
}

.center {
  display: flex;
  justify-content: center;
  align-items: center;
}

.center-column {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.center-column-stretch {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.justify-space-between {
  width: 100%;
  justify-content: space-between;
  align-items: center;
}

.is-relative {
  position: relative;
}

.is-absolute {
  position: absolute;
}

.is-fixed {
  position: fixed;
}

.pt-16 {
  padding-top: 16px;
}

.footer {
  display: flex;
  padding: 1.5rem 1.5rem;
  line-height: 1.5rem;
  a {
    color: black;
    margin-right: 8px;
  }
  a:hover {
    color: $secondary-color;
  }

  .social {
    margin-left: -0.75rem;
    margin-right: -0.75rem;
    border-top: 1px solid $border;
    padding-top: 12px;
  }

  .newsletter-signup {
    padding-left: 47px;
    padding-right: 47px;
    height: 100%;
    line-height: 14px;
    border-left: 1px solid $border;

    span.newsletter-lead {
      display: inline-block;
      margin-bottom: 24px;
      font-size: 12px;
      padding-top: 4px;
    }

    span.floating-text {
      cursor: text;
      position: absolute;
      left: 0;
      top: 0;
      transition: 0.2s;
    }

    input {
      appearance: none;
      border: none;
      padding-bottom: 4px;
      border-bottom: 1px solid #000;
      width: 100%;

      &:focus ~ span {
        top: 24px;
      }
    }
  }
}

h1.hero-title {
  color: #fff;
  text-transform: uppercase;
  font-size: 74px;
  @media screen and (max-width: $mobile) {
    font-size: 24px;
  }
}

.has-border-tb {
  border-top: 1px solid $border;
  border-bottom: 1px solid $border;
}

.full-width {
  width: 100%;
  padding-top: 8px;
}

.no-bg {
  background: none;
  border: none;
}

.py-16 {
  padding-top: 16px;
  padding-bottom: 16px;
}
.pb-96 {
  padding-bottom: 96px;
}

.my-72 {
  margin-top: 72px;
  margin-bottom: 72px;
}

.mb-16 {
  margin-bottom: 16px;
}

.mr-36 {
  margin-right: 36px;
}
.mt-72 {
  margin-top: 72px;
}
.mt-280 {
  margin-top: 280px;
}
.mt-160 {
  margin-top: 160px;
}

.hero-button {
  border-radius: 0px;
  font-weight: 600;
}

.has-layout-border {
  border-left: 20px solid $black;
  border-right: 20px solid $black;

  @media screen and (max-width: $mobile) {
    border-left: 12px solid $black;
    border-right: 12px solid $black;
  }
}

.has-list-style-none {
  list-style: none !important;
}

.navbar-burger span {
  height: 2px;
  background-color: #fff;
}

.midsection-1 img {
  height: 486px;
}
.midsection-2 img {
  height: 520px;
}
.midsection-3 img {
  width: 601px;
}

.mb-10 {
  margin-bottom: 10px;
}
article.flex-end {
  justify-content: flex-end;
}

.page-container {
  margin: 72px 24px;
  min-height: calc(100vh - 430px);
}

.wrap-columns {
  flex-direction: row;
  display: flex;
  flex-wrap: wrap;
}
