// Importing variables
@import './variables.scss';

// Importing Bulma from node_modules
@import '~bulma/bulma.sass';

@import './product.scss';

@font-face {
  font-family: 'GT Eesti Pro';
  src: url(/assets/GTEestiProText-Regular.otf);
}

html,
body {
  font-family: 'GT Eesti Pro';
  color: #000;
}

.full-container {
  width: calc(100% - 56px);
  margin: 72px 28px;
}

.hero-bg {
  display: flex;
  background: url(../images/hero-bg.png);
}

.center {
  display: flex;
  justify-content: center;
  align-items: center;
}

.is-relative {
  position: relative;
}

.pt-16 {
  padding-top: 16px;
}

.footer {
  display: flex;
  padding: 1.5rem 1.5rem;
  line-height: 1.5rem;
  a {
    color: black;
    margin-right: 8px;
  }
  a:hover {
    color: $secondary-color;
  }

  .newsletter-signup {
    padding-left: 47px;
    padding-right: 47px;
    height: 100%;
    line-height: 14px;
    border-left: 1px solid $border;

    span.newsletter-lead {
      display: inline-block;
      margin-bottom: 24px;
      font-size: 12px;
      padding-top: 4px;
    }

    span.floating-text {
      cursor: text;
      position: absolute;
      left: 0;
      top: 0;
      transition: 0.2s;
    }

    input {
      appearance: none;
      border: none;
      padding-bottom: 4px;
      border-bottom: 1px solid #000;
      width: 100%;

      &:focus ~ span {
        top: 24px;
      }
    }
  }
}

.has-border-tb {
  border-top: 1px solid $border;
  border-bottom: 1px solid $border;
}

.full-width {
  width: 100%;
}

.no-bg {
  background: none;
  border: none;
}

.py-16 {
  padding-top: 16px;
  padding-bottom: 16px;
}

.my-72 {
  margin-top: 72px;
  margin-bottom: 72px;
}

.mb-16 {
  margin-bottom: 16px;
}

.mr-36 {
  margin-right: 36px;
}
.mt-280 {
  margin-top: 280px;
}

.hero-button {
  border-radius: 0px;
  font-weight: 600;
}

.has-layout-border {
  border-left: 20px solid $black;
  border-right: 20px solid $black;
}

.has-list-style-none {
  list-style: none !important;
}
